.select-color {
  text-align: center;

  .color-button {
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    max-height: 140px;
    padding: 16px;
    margin: 4px;
  }

  .selected {
    border-width: 10px;
  }

}