switch-widget {

  display: flex;

  ion-label {
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .inside-button {
    justify-content: flex-start;
    background-color: white;
    padding-left: 0px !important;
    .inner-label {
      display: block;
    }
  }

}
